@import "../../../styles/default";

$max_width: 570px;

.root {
  width: 100%;
  background-color: #EDF7FA;

  .container {
    @extend %default_container;
    min-height: 400px;
    padding: 16px;

    .header {
      margin-bottom: 16px;
      color: $font-color;
      font-family: Heebo;
      font-size: 22px;
      line-height: 60px;

      @media (max-width: $max_width) {
        text-align: center;
      }
    }

    .card_container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      @media (max-width: $max_width) {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        & > *:not(:first-child) {
          margin-bottom: 16px;
        }
      }

      @media (min-width: $max_width + 1) {
        & > *:not(:first-child) {
          margin-left: 16px;
        }
      }

    }
  }
}