@import "../../../styles/default";

$max_width: 620px;

.root {
  @extend %default_container;

  .header {
    margin-bottom: 23px;
    font-family: $font-family;
    color: $font-color;
    font-size: 44px;
    line-height: 60px;
    font-weight: bold;
    margin-top: 110px;
    @media (max-width: $max_width) {
      margin-top: 5vh;
      font-weight: bold;
      line-height: 60px;
      font-size: 30px;
    }
  }
}