@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

$font-family: 'Heebo';
$primary-bt-color: #FF6464;
$font-color: #21243D;

$max-width-panel-container: 1032px;
$max-width-container: 860px;

$minWidth: 320px;
$maxWidth: 1152px;

$md1: $max-width-panel-container + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$default_padding_container: 0 16px;

%default_panel_container {
  max-width: $max-width-panel-container;
  margin: 0 auto;
}

%default_container {
  max-width: $max-width-container;
  margin: 0 auto;
}

@mixin default_header($max_width) {
  margin-bottom: 23px;
  font-family: $font-family;
  color: $font-color;
  font-size: 44px;
  line-height: 60px;
  font-weight: bold;
  margin-top: 110px;
  @media (max-width: $max_width) {
    margin-top: 15px;
    font-weight: bold;
    line-height: 60px;
    font-size: 30px;
  }
}

@mixin date_info($year_color, $text_color) {
  display: flex;
  flex-wrap: nowrap;
  padding: 16px 0;
  font-family: $font-family;

  .year {
    background-color: $year_color;
    border-radius: 16px;
    color: white;
    width: 62px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
  }

  .type {
    padding-left: 26px;
    color: $text_color;
    font-size: 20px;
    line-height: 29px;
  }
}

