@import "../../../styles/default";

.root {
  @extend %default_container;
  padding: 0 16px;

  .header {
    @media (max-width: 570px) {
      margin-bottom: -20px;
      text-align: center;
    }
    font-size: 22px;
    line-height: 60px;
    font-family: $font-family;
    color: $font-color;
  }
}