@import "../../../styles/default";

.root {
  @extend %default_panel_container;

  .container {
    display: flex;
    justify-content: flex-end;

    a {
      padding: 10px 20px;
      font-family: $font-family;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      text-decoration: none;
      color: $font-color;
    }

    a:hover {
      background-color: rgba(1, 1, 1, 0.06);
    }
  }
}